.forgot-password {
    width: 400px;
    margin: 50px auto;
    border: solid 1px var(--orange);

}


.submit-button {
    width: 200px;
}

.text {
    text-align: left;
}

.unlock-icon-div{
    text-align: center;   
}

.unlock-icon{
    padding: 15px;
    color: var(--orange);
    /* background: green; */
    border-radius: 50%;
    /* margin: auto; */
    text-align: center;
}

